{% macro btn_primary(label, href=None, class='', **kwargs) %}
  {% if href %}
  <a href="{{ href }}" class="btn btn-primary {{ class }}" {{ kwargs | xmlattr }}>{{ label }}</a>
  {% else %}
  <button class="btn btn-primary {{ class }}" {{ kwargs | xmlattr }}>{{ label }}</button>
  {% endif %}
{% endmacro %}

{% macro btn_dark(label, href=None, class='', **kwargs) %}
  {% if href %}
  <a href="{{ href }}" class="btn btn-dark {{ class }}" {{ kwargs | xmlattr }}>{{ label }}</a>
  {% else %}
  <button class="btn btn-dark {{ class }}" {{ kwargs | xmlattr }}>{{ label }}</button>
  {% endif %}
{% endmacro %}

{% macro btn_soft(label, href=None, class='', **kwargs) %}
  {% if href %}
  <a href="{{ href }}" class="btn btn-soft {{ class }}" {{ kwargs | xmlattr }}>{{ label }}</a>
  {% else %}
  <button class="btn btn-soft {{ class }}" {{ kwargs | xmlattr }}>{{ label }}</button>
  {% endif %}
{% endmacro %}

{% macro btn_outline_light(label, href=None, class='', **kwargs) %}
  {% if href %}
  <a href="{{ href }}" class="btn btn-outline-light {{ class }}" {{ kwargs | xmlattr }}>{{ label }}</a>
  {% else %}
  <button class="btn btn-outline-light {{ class }}" {{ kwargs | xmlattr }}>{{ label }}</button>
  {% endif %}
{% endmacro %}

{% macro btn_outline_dark(label, href=None, class='', **kwargs) %}
  {% if href %}
  <a href="{{ href }}" class="btn btn-outline-dark {{ class }}" {{ kwargs | xmlattr }}>{{ label }}</a>
  {% else %}
  <button class="btn btn-outline-dark {{ class }}" {{ kwargs | xmlattr }}>{{ label }}</button>
  {% endif %}
{% endmacro %}

{% macro btn_pill_sm(label, href=None, class='', **kwargs) %}
  {% if href %}
  <a href="{{ href }}" class="btn btn-pill-sm {{ class }}" {{ kwargs | xmlattr }}>{{ label }}</a>
  {% else %}
  <button class="btn btn-pill-sm {{ class }}" {{ kwargs | xmlattr }}>{{ label }}</button>
  {% endif %}
{% endmacro %}
